In [1]:
import pandas as pd
import numpy as np
import os

def load_data():
  # get flie list from the directory /data
  file_list = os.listdir('data')
  # create a file specific named dataframes for each file
  for file in file_list:
    globals()[file.split('.')[0]] = pd.read_pickle('data/' + file)

load_data()

In [60]:
# display(new_programmers)

In [19]:
# jobplanet, jumpit, programmers, rocketpunch 순서
# ======================================================
# 회사명:    company_name        (name, companyName, company_name, company_name)
# 직무명:    title               (title, title, title, job_title)
# 경력:      career              (recruitment_text, [minCarrer, maxCarrer], career, experienceRequirements)
# 기간:      date                (deadline_message, closedAt, period, validThrough(NaN인 경우 상시인듯))
# 기술스택:  tech_stack           (skills, techStacks, reqired_skills, specialties)
# 직무소개:  description          (primary_responsibility, responsibility, description, description(중복된 이름 가진 컬럼 존재))
# 기업소개:  company_description  (introduction, serviceInfo, company['serviceName'], description(상기된 중복이름 컬럼 중 하나))
# 자격요건:  required             (required_qualification, qualifications, requirement, requirement)
# 우대사항:  preferred_skill      (preferred_skill, preferredRequirements, preferredExperience, 없음)
# 복지및혜택: welfare             (benefit, welfares, additionalInformation, 없음)

In [61]:
df_jp = jobplanet[['name', 'title', 'recruitment_text', 'deadline_message', 'skills', 'primary_responsibility', 'introduction', 'required_qualification', 'preferred_skill', 'benefit']]
df_jp.columns = ['company_name', 'title', 'career', 'date', 'tech_stack', 'description', 'company_description', 'required', 'preferred_skill', 'welfare']

jumpit['career_range'] = jumpit['minCareer'].astype(str) + '~' + jumpit['maxCareer'].astype(str)

df_ju = jumpit[['companyName', 'title', 'career_range', 'closedAt', 'techStacks', 'responsibility', 'serviceInfo', 'qualifications', 'preferredRequirements', 'welfares']]
df_ju.columns = ['company_name', 'title', 'career', 'date', 'tech_stack', 'description', 'company_description', 'required', 'preferred_skill', 'welfare']

new_programmers['company_desc'] = new_programmers['company'].apply(lambda x: x['serviceName'])

df_pr = new_programmers[['company_name', 'title', 'career', 'period', 'technicalTags', 'description', 'company_desc', 'requirement', 'preferredExperience', 'additionalInformation']]
df_pr.columns = ['company_name', 'title', 'career', 'date', 'tech_stack', 'description', 'company_description', 'required', 'preferred_skill', 'welfare']

rocketpunch_full.columns = ['company_id', 'company_name', 'company_desc', 'job_id', 'job_title','job_info', 'job_date', '@context', '@type', 'datePosted','description', 'hiringOrganization', 'title', 'url', 'jobLocation','employmentType', 'experienceRequirements', 'occupationalCategory','requirement', 'specialties', 'validThrough', 'baseSalary','jobLocationType']

df_rp = rocketpunch_full[['company_name', 'job_title', 'experienceRequirements', 'validThrough', 'specialties', 'description', 'company_desc', 'requirement']]
df_rp.columns = ['company_name', 'title', 'career', 'date', 'tech_stack', 'description', 'company_description', 'required']
df_rp['preferred_skill'] = np.nan
df_rp['welfare'] = np.nan

/tmp/ipykernel_584583/513875741.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rp['preferred_skill'] = np.nan
/tmp/ipykernel_584583/513875741.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rp['welfare'] = np.nan

In [63]:
display(df_jp.head(2))
display(df_ju.head(2))
display(df_pr.head(2))
display(df_rp.head(2))

,company_name,title,career,date,tech_stack,description,company_description,required,preferred_skill,welfare
0,(주)투블럭에이아이,파이썬 백엔드 개발자,[3 ~ 10년],상시채용,"[python, django, aws, SQL, 유지보수, MYSQL, git, 파...",• 서비스 Back-end 개발 및 유지보수\r\n\r\n[사용 기술]\r\nㆍPy...,"투블럭에이아이는 2019년에 설립된 회사로 자본금 1억 1,000만원, 매출액 7억...",• 대졸 이상\r\n• 3년이상 경력\r\n• Python 개발에 익숙하신 분\r\...,• linux 플랫폼에서 웹 서비스 개발/운영 경험이 있으신 분\r\n• RestF...,• 4대 보험\r\n• 스톡옵션\r\n• 자유로운 연차 사용\r\n• 점심 식사 지...
1,(주)그렙,[감독솔루션팀]BE개발자,[2 ~ 8년],상시채용,"[PostgreSQL, Docker, ruby on rails, REDIS, AWS...",- 프로그래머스와 모니토의 온라인 평가 및 감독 서비스의 개발 및 운영\r\n- 확...,[About Grepp]\r\n \r\n그렙(Grepp)은 '모든 개발자에게 ...,- Ruby 또는 Python 기반의 웹 프레임워크 개발 경험 (예. Ruby on...,- AWS를 사용하여 실제 서비스를 적용해 본 경험\r\n- CI/CD 파이프라인 ...,＜일하는 방법 : 효율 & 자율＞\r\n- 리모트 근무: 그렙은 코로나 팬더믹 상황...

,company_name,title,career,date,tech_stack,description,company_description,required,preferred_skill,welfare
0,한국해양기상기술,개발 팀장,10~30,9999-12-31T23:59:59,"[Java, Spring, PostgreSQL, Spring Boot, Mybati...","• 개발자들에 대한 technical leading 및 지원\n• 기상, 해양 분야...","한국 해양 기상 기술은 해양,기상환경의 분석, 예측에 대한 과학적 자료 제공 관련 ...",• 7년 이상 백엔드 개발 및 서비스 운영 경험이 있는 분 혹은 그에 준하신 분\n...,• 개발팀장 혹은 개발 리더 경험이 있으신 분\n• 레거시 시스템 개선 경험 및 대...,"• 업계 상위 수준의 연봉(개발 능력, 직전 직장 연봉 등에 기반 상호 협의)\n•..."
1,다이얼로그디자인에이전시,[5년 이상 리더급] 풀스택 소프트웨어 엔지니어,5~7,2024-04-30T23:59:59,"[Django, Python, Flask, React, Flutter, AWS, G...",1. AI Solution Lab 풀스택 엔지니어가 해결해야 할 미션은 다음과 같습...,dda는 \nAI의 페르소나를 기획하고 구현하는 회사입니다. \n2016년 창업한 ...,"가장 중요한 자격 요건은 \n\n• SW 개발 분야에 대한 실무 경험과 지식, 이러...",• 컴퓨터공학 또는 관련 학문을 전공하신 분\n• 주도적으로 문제를 발견하고 개선해...,"[근무 및 급여 조건]\n• 채용 형태 : 정규직 (수습2개월, 수습 기간에도 급여..."

,company_name,title,career,date,tech_stack,description,company_description,required,preferred_skill,welfare
0,웅진,[경력] 웹 시스템 설계,10 ~ 20년,2024-04-18 01:49 부터 2024-05-31 14:59까지,[],"<blockquote class=""gt-blockquote""><strong clas...","SAP ERP ,AWS/MS클라우드, 세일즈포스, 그룹웨어 등 IT컨설팅 및 대외...",None,None,None
1,웅진,로우코드(Low-Code Platform) 웹 기반 시스템 개발,10 ~ 18년,2024-04-18 01:44 부터 2024-05-30 15:00까지,[],"<blockquote class=""gt-blockquote""><strong clas...","SAP ERP ,AWS/MS클라우드, 세일즈포스, 그룹웨어 등 IT컨설팅 및 대외...",None,None,None

,company_name,title,career,date,tech_stack,description,company_description,required,preferred_skill,welfare
0,(주)휴가중,[온베케이션] 프론트엔드 웹 개발자 (React),[경력],NaN,"[프론트엔드 개발, Git, Amazon Web Services]",온베케이션은 스타트업의 기발함과 여행업의 설렘으로 새로운 가치를 만들어 나갑니다.<...,Travel Tech 를 영역에서 다양한 혁신 시도를 통해 더 많은 여행자들의 감동...,[ 주요 업무 ]• React/Next.js 기반의 백오피스 개발• 서비스 운영 이...,NaN,NaN
1,(주)휴가중,[온베케이션] Flutter Mobile App Developer,"[신입, 경력]",NaN,"[GitHub, android, Django, iOS, Java, Kotlin, P...",온베케이션은 스타트업의 기발함과 여행업의 설렘으로 새로운 가치를 만들어 나갑니다.<...,Travel Tech 를 영역에서 다양한 혁신 시도를 통해 더 많은 여행자들의 감동...,[ 주요 업무 ]• Flutter 기반의 신규 앱 개발 및 운영• 빌드/배포/테스트...,NaN,NaN

In [90]:
display(df_rp['description'].apply(lambda x: list(filter(None, re.split(r'(?=[\)\\|#])', x.replace('\n', ' ')))))[7])

['• On-device foundation model을 위해 파이토치 모델을 최적화합니다.<br />- TensorRT 등 모델 변환을 통해 추론 속도를 개선합니다.<br />- Quantization, knowledge distillation, pruning 등 기법을 적용하여 효율적인 모델을 만듭니다.<br />• LLM, LMM, text-to-image 등 Gen AI 모델에 대한 최적화를 진행합니다.<br />- TensorRT, vLLM 등 더 빠른 SDK나 라이브러리로 모델을 변환하여 추론 속도를 개선합니다.<br />- KVCache (LLM',
 '), step distillation (text-to-image',
 ') 등 특정 task에서 사용되는 최적화 기법들을 노타의 모델에 적용합니다.<br />• Foundation model의 효율적 설계 및 사용에 대해 기법을 연구하고 제품화를 진행합니다.<br />- 효율적인 foundation model을 만들고, 이를 디바이스에 탑재하여 노타가 강점을 가지는 분야(ex. ITS',
 ')에서 실제로 사용할 수 있는 제품을 만듭니다.<br /><br /><br />[Edge FM 팀을 소개합니다.]<br />Edge Foundation Models (EdgeFM',
 ') 팀은 기술을 경량화하고 최적화하여 Edge device에서 Foundation Model을 실행할 수 있도록 연구하고 있습니다. 최신 경량화 기술과 최적화 기법을 활용하여, 중앙 서버 없이도 사람 수준의 지식과 추론 능력을 갖춘 AI 모델을 사용할 수 있게 하며, 언제 어디서든 Edge 장치만으로도 AI 기술을 쉽게 활용할 수 있는 시대를 준비하며, 노타의 선도적인 지식과 기술을 정립하고 있는 조직입니다.<br /><br />해당 포지션으로 합류하신다면 Foundation Model과 Edge AI가 만나 새로운 가치를 만들어낼 수 있는 산업을 찾아, 해당 현장에 바로 투입할 수 있는 Edge AI 기술을 개발합니다. 조금 더 구체적인 예시로는, LLM/LMM 과 같은 Gen AI 모델에 최신의 모델 경량화/최적화 기술을 적용하여 edge device에서 구동될 수 있게 만들고, 모델이 탑재된 edge device를 현장에 투입하여 바로 사용할 수 있도록 해당 모델을 활용하는 툴을 개발합니다.<br /><br />[EdgeFM 팀 리드의 메세지]<br />LLM을 비롯한 Foundation Model, Gen AI가 등장한 지 얼마 되지 않았고, 이를 edge device에 탑재하여 새로운 제품을 만들어 나가는 조직이 세상에 많지 않습니다. 도전적이고 때로는 모험일 수는 있지만, 모델 연구를 통해 해결책을 찾아 논문을 출판할 수도 있고, 상품으로서의 매력을 끌어올려 매출을 만드는 등 다양한 도전을 통해 함께 성장하는 팀을 추구합니다.<br /><br />다양한 모델 경량화/최적화 지식을 보유하고 있고, 관심이 있는 분이시라면 Gen AI로 새롭게 시작된 AI scene에서 노타크루, EdgeFM 과 함께 새로운 세상을 만들어봐요.']

In [105]:
import pymysql

db_info = {}
with open("db_info.env", "r") as f:
  for line in f:
    key, value = line.strip().split("=")
    db_info[key] = value

# connect to db
conn = pymysql.connect(
  host=db_info["DB_HOST"],
  user=db_info["DB_USER"],
  password=db_info["DB_PASS"],
  db=db_info["DB_NAME"],
  charset='utf8'
)
cur = conn.cursor()

In [116]:
from faker import Faker
from datetime import date
import random

faker = Faker()
# Generate dummy data
dummy_data = []
for _ in range(500):
  row = (
    random.randint(1, 4),  # First column as integer ranging from 1 to 4
    faker.company(),  # Second column as company name
    faker.job(),  # Third column as job title
    random.randint(0,10), # Fourth column as career
    str(faker.date_between(start_date='today', end_date='+1y')),  # Fifth column as date
    str(faker.random_elements(elements=('Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'PHP', 'Swift', 'Kotlin', 'Go', 'Rust'), length=3, unique=True)),
    faker.text(),  # Seventh column as description
    faker.text(),  # Eighth column as company description
    faker.text(),  # Ninth column as required qualification
  )
  dummy_data.append(row)

# insert dummy data
for data in dummy_data:
  cur.execute("INSERT INTO job_data (job_site_code, company_name, title, career, date_until, tech_stack, description, company_description, required) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)", data)

conn.commit()